<div class="content">
	<div class="contact-container">
		<h1>My Contacts</h1>
		<hr>
		<div class="all-contacts">
		  <% @contacts.each do |contact| %>
		    <a href="/contacts/<%= contact.id %>">
		    	<li>
					<!-- add styling to contact id in css-->
		    	<%= contact.id %>

		    	<%= contact.first_name %> <%= contact.last_name %>
  <% end %></li>
		    </a>
		</div>
		<a href="/contacts/new_contact">
			<div id="add-contact">
				<p>Add Contact</p>
			</div>
		</a>
	</div>
</div>