<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<p>The current date is <%= @time %></p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <!-- please complete me with links to other actions -->
</ul>



<!--
<div>puts "1 - Add a new contact"
 			puts "2 - Modify an existing contact"
 			puts "3 - Delete a contact"
 			puts "4 - Display a contact"
 			puts "5 - Display all contacts"
 			puts "6 - Display an attribute"</div> -->