<!--<h1><%= @crm_page_name %></h1>-->


<div class="left_column">

	<p>
	Scenester banjo jean shorts, PBR&B blog biodiesel 3 wolf moon drinking vinegar pug trust fund. Artisan four loko photo booth, post-ironic leggings ethical next level. Asymmetrical chambray plaid taxidermy organic synth mumblecore, DIY XOXO pour-over slow-carb Kickstarter messenger bag 8-bit McSweeney's. Banh mi chillwave before they sold out gentrify Wes Anderson, you probably haven't heard of them asymmetrical bicycle rights actually. Cold-pressed mixtape health goth, chambray sustainable lo-fi asymmetrical art party pork belly biodiesel authentic kale chips Blue Bottle vinyl. McSweeney's jean shorts ugh scenester, kogi stumptown Pinterest sriracha roof party PBR. Vegan before they sold out cardigan, cray Pinterest selvage Austin next level fap cliche direct trade shabby chic Banksy.
	</p>

	<p>
	Meggings twee pug mumblecore. Fixie beard PBR&B stumptown. Scenester post-ironic bitters cliche +1. Flannel shabby chic PBR, authentic Tumblr flexitarian art party slow-carb swag cardigan chillwave Truffaut sriracha roof party. Post-ironic banh mi messenger bag, wolf sriracha art party master cleanse four loko Truffaut tote bag beard occupy. Fixie twee chillwave bicycle rights listicle actually. Tofu skateboard disrupt, fingerstache four dollar toast seitan small batch salvia.
	</p>
</div>

<div class="right_column">

	<img src = "http://placehold.it/350x150">
	<p>Pork belly gastropub meggings tote bag four dollar toast, biodiesel literally occupy single-origin coffee mlkshk sriracha swag locavore dreamcatcher. Cornhole gentrify try-hard Helvetica Godard kogi retro Etsy. Beard plaid forage, put a bird on it 8-bit jean shorts pork belly cred you probably haven't heard of them Portland yr Kickstarter. Before they sold out lumbersexual polaroid deep v kitsch gastropub, ugh salvia fingerstache. Retro Echo Park freegan, deep v mumblecore occupy sriracha ugh XOXO messenger bag asymmetrical. Four dollar toast polaroid vinyl Wes Anderson cray, bitters narwhal seitan iPhone Etsy meh cliche. Cray ugh polaroid gluten-free tousled, Bushwick cliche gentrify narwhal deep v occupy twee cardigan before they sold out.</p>
</div>
