<div class="left_column">
	<img id="silhouette" src ="/silhouette_front.png" />
</div>
<div class="right_column">
	<h1>Hi<span class="red">.</span></h1>
	<h2>Welcome to <span class="company_name">Fresh Contacts</h2>
	<h4>This is a place where you can store and access your business contacts</h4>
</div>
