<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Customer Relationship Application</title>
</head>
<body>
	<header>
	<h1>Customer Relationship Management</h1>
	<h2>Store and access your client contacts online</h2>
	</header>
	<nav>
		<ul>
			<li>Contacts</li>
			<li>About</li>
			<li>Resources</li>
			<li>News</li>
		</ul>
	</nav>
		<%= yield %>
	<footer>copywrite ... 2015</footer>
</body>
</html>

