<h1>Contact Details Page</h1>
<p><%= @contact.first_name %> <%= @contact.last_name %></p>
<p><strong>Email:</strong><%= @contact.email %></p>
<p><strong>Note:</strong></p>
<p><%= @contact.notes %></p>