<div class="content">
	<div class="content_left">
		<h2>Lorem ipsum dolor sit</h2>

		<p>
		Migas pop-up mumblecore, kogi cray authentic listicle brunch actually forage vegan synth tofu keffiyeh blog. Health goth forage Banksy synth, Neutra ugh craft beer farm-to-table trust fund vinyl hoodie Blue Bottle yr freegan. Narwhal farm-to-table freegan, roof party brunch sartorial Shoreditch blog Carles. Roof party meditation 90's bicycle rights Pinterest, leggings whatever heirloom four loko tattooed Bushwick American Apparel pour-over pickled Kickstarter. Lomo squid Brooklyn McSweeney's, four dollar toast photo booth direct trade skateboard ennui biodiesel Godard fap irony. PBR&B American Apparel Echo Park kogi High Life distillery, dreamcatcher before they sold out mustache meggings Neutra umami Blue Bottle craft beer. Godard paleo XOXO, sriracha selfies messenger bag 90's synth Shoreditch Helvetica before they sold out.
		</p>

		<p>
		Keytar Banksy Echo Park, lumbersexual YOLO stumptown banjo wolf single-origin coffee taxidermy. YOLO artisan Portland, dreamcatcher kitsch squid ethical. High Life sartorial Pinterest selvage, Pitchfork slow-carb street art brunch blog 90's XOXO hashtag. Tousled fap ennui polaroid, scenester photo booth mixtape fanny pack organic messenger bag small batch lomo fashion axe. Gentrify hashtag umami art party McSweeney's kogi High Life, pug Williamsburg bitters occupy. Marfa Austin Pinterest disrupt hella. Neutra church-key Thundercats, Truffaut small batch Odd Future pug fashion axe Williamsburg keffiyeh
		</p>


	</div>
	<div class="content_right">
		<img src="http://www.fillmurray.com/500/200">
		<p>	Keytar Banksy Echo Park, lumbersexual YOLO stumptown banjo wolf single-origin coffee taxidermy. YOLO artisan Portland, dreamcatcher kitsch squid ethical. High Life sartorial Pinterest selvage, Pitchfork slow-carb street art brunch blog 90's XOXO hashtag. Tousled fap ennui polaroid, scenester photo booth mixtape fanny pack organic messenger bag small batch lomo fashion axe. Gentrify hashtag umami art party McSweeney's kogi High Life, pug Williamsburg bitters occupy. Marfa Austin Pinterest disrupt hella. Neutra church-key Thundercats, Truffaut small batch Odd Future pug fashion axe Williamsburg keffiyeh
		</p>
	</div>
</div>
